.pusher
  %div.main.ui.container
    %h1.ui.header.blue.centered{:style => ""} Registros
  
    .ui.three.column.grid{:style => "margin-top: 20px;"}
      .column
        .ui.centered.card
          %h2.ui.header.blue.centered
            = @doctors.count
          %div#container1
          .content
            .header Doctores
      .column        
        .ui.centered.card
          %h2.ui.header.blue.centered
            = @centers.count
          %div#container2
          .content
            .header Centros
      .column
        .ui.centered.card
          %h2.ui.header.blue.centered
            = @drugstores.count
          %div#container3
          .content
            .header Farmacias
      .column
        .ui.centered.card
          %h2.ui.header.blue.centered
            = @plannings.count
          %div#container4
          .content
            .header Cantidad de planeamiento total

    
    -# = content_tag :div, "", id: 'specialities', data: {doctors: @doctorx}, :style => "height: 250px;"



- content_for :registers do
  :javascript
    $(document).ready(function() {
      
      var bar1 = new ProgressBar.Line(container1, {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 1400,
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        svgStyle: {width: '100%', height: '100%'},
        from: {color: '#3498db'},
        to: {color: '#3498db'},
        step: function(state, bar) {
          bar.path.setAttribute('stroke', state.color);
        }
      });
    
      var bar2 = new ProgressBar.Line(container2, {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 1400,
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        svgStyle: {width: '100%', height: '100%'},
        from: {color: '#8e44ad'},
        to: {color: '#8e44ad'},
        step: function(state, bar) {
          bar.path.setAttribute('stroke', state.color);
        }
      });
    
      var bar3 = new ProgressBar.Line(container3, {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 1400,
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        svgStyle: {width: '100%', height: '100%'},
        from: {color: '#27ae60'},
        to: {color: '#27ae60'},
        step: function(state, bar) {
          bar.path.setAttribute('stroke', state.color);
        }
      });
    
      var bar4 = new ProgressBar.Line(container4, {
        strokeWidth: 4,
        easing: 'easeInOut',
        duration: 1400,
        color: '#FFEA82',
        trailColor: '#eee',
        trailWidth: 1,
        svgStyle: {width: '100%', height: '100%'},
        from: {color: '#34495e'},
        to: {color: '#34495e'},
        step: function(state, bar) {
          bar.path.setAttribute('stroke', state.color);
        }
      });
    
      // Number from 0.0 to 1.0, this act as a %
      bar1.animate(1.0);
      bar2.animate(1.0);
      bar3.animate(1.0);
      bar4.animate(1.0);
    
    
    });
