-# %h1 Editing drugstore
-#
-# = render 'form'
-#



.pusher
  %div.main.ui.container
    = render 'form'
    %br
    = link_to drugstores_path, class: "ui blue basic submit button" do
      %i.big.icons
        %i.reply.icon
      = 'Volver'
