-# %h1 New drugstore
-#
-# = render 'form'

-# = link_to 'Back', drugstores_path

.pusher
  %div.main.ui.container
    = render 'form'
    %br
    = link_to drugstores_path, class: "ui blue basic submit button" do
      %i.big.icons
        %i.reply.icon
      = 'Volver'

  -# = link_to 'Back', centers_path
  -# - content_for :gmap_form_new do
  -#   :javascript
  -#     $(document).ready(function(){
  -#       gmap_form(null);    // form map for new view (print nothing with possibility of put marker)
  -#     });
