-# %script{src: 'http://maps.google.com/maps/api/js?key=AIzaSyARv1BFc7LDkL9TyrRFpWuvbNE2aW4EQ4A'}
-# %script{src: 'http://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js'}
-# %script{src: 'http://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js', type: 'text/javascript'}
