.ui.left.demo.vertical.inverted.bg_gradient.sidebar.labeled.icon.menu
  %a.item{:href => root_path}
    %i.home.icon.icon-gradient
    Inicio
  %a.item{:href => centers_path}
    %i.hospital.icon.icon-gradient
    Centros
  %a.item{:href => doctors_path}
    %i.doctor.icon.icon-gradient
    Doctores
  %a.item{:href => plannings_path}
    %i.calendar.icon.icon-gradient
    Planeamiento
  %a.item{:href => '#'}
    %i.first.aid.icon.icon-gradient
    Farmacias

.ui.top.fixed.menu.white.hude.borderless.labeled.icon
  %a.item#sidebar-toggle
    %i.content.icon.asphalt-gradient#logo_icon
  %a.item{:href => root_path}
    %i.home.icon.large.icon.asphalt-gradient#logo_icon
  %a.item{:href => scheduler_events_path}
    %i.checked.calendar.large.icon.asphalt-gradient#logo_icon
  %div.right.menu
    .item.top-menu-label.asphalt-gradient
      = current_user.username
      = link_to destroy_user_session_path, method: :delete do
        %i.power.large.icon.icon-gradient-red#logo_icon
