.ui.left.demo.vertical.inverted.bg_gradient_side.sidebar.labeled.icon.menu
  %a.item{:href => root_path}
    %i.home.icon
    Inicio
  %a.item
    %i.hospital.icon
    Clínicas
  %a.item{:href => doctors_path}
    %i.doctor.icon
    Doctores

.ui.top.fixed.menu.inverted.bg_gradient.hude.borderless.labeled.icon
  %a.item#sidebar-toggle
    %i.skyatlas.icon#logo_icon
  %a.item
    %i.calendar.large.icon.olive
    Calendario
  %a.item.right
    %i.sign.out.large.icon
    Salir


/*Initializers*/
:javascript
  $( document ).ready(function() {
    $('.ui.dropdown')
      .dropdown();

    $( "#sidebar-toggle" ).click(function() {
      $('.ui.labeled.icon.sidebar')
      .sidebar('toggle');
    });

    $('table').tablesort()
    $("#notice_center" ).fadeOut(5000);

  });
