
-# = render './layouts/shared/menu'

.pusher
  %div.ui.container
    -# Logo
    %h1.ui.header.blue.centered
      Bienvenido
      = current_user.username
    = image_tag("logo_big.png", class:'logo_welcome')
    -# .calendar-main
