-# #edit_event.modal.fade
-#   .modal-dialog
-#     .modal-content
-#       .modal-header
-#         %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ร
-#         %h4.modal-title Edit Event
-#       .modal-body
-#         = render 'form', event: @event

#edit_event.ui.modal
  %i.close.icon
  .content
    = render 'form', event: @event


-#
-# #new_event.ui.modal
-#   %i.close.icon
-#   -# .header
-#   -#   %h4.modal-title Nueva Ruta รณ Evento
-#   .content
-#     = render 'form', event: @event
