-# %h1 Editar doctor
-# = render './layouts/shared/menu'

.pusher
  %div.main.ui.container
    = render 'form'

    %br
    = link_to doctors_path, class: "ui blue basic submit button" do
      %i.big.icons
        %i.reply.icon
      = 'Volver'
