/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require normalize-rails
 *= require lib/fullcalendar/fullcalendar
 *= require lib/daterangepicker
 *= require_tree .
 *= require_self
 */

@import "semantic-ui";

/*flash messages*/
.message.closable {
  margin-left: 20%;
  margin-right: 20%;
 }
#notice_center {
  text-align: center;
}


/*------------------------------------------*/

/*yield content*/
.yield {
  padding-top: 100px;
}
/*------------------------------------------*/


/*Colors*/
.asphalt{
  color: #34495e;
}

.asphalt-gradient{
  background: -webkit-gradient(linear, left top, left bottom, from(#34495e), to(#2980b9)) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.pomegranate{
 background-color: #c0392b !important;
}

.icon-gradient{
   background: -webkit-gradient(linear, left top, left bottom, from(#72c3aa), to(#77c9f2)) !important;
   -webkit-background-clip: text !important;
   -webkit-text-fill-color: transparent !important;
 }

 .icon-gradient-red{
    background: -webkit-gradient(linear, left top, left bottom, from(#e74c3c), to(#c0392b)) !important;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    color:#c0392b !important;
  }


.bg_gradient {
  background: #605ea1 !important;
  background: radial-gradient(circle farthest-corner at right bottom, #ac9cd5 0%, #8e7ec2 28%, #6561af 57%, #1a2565 100%) !important;
}

.bg_gradient_side {
    background: linear-gradient(5deg, #556270, #C44D58) !important;
}

/*top menu*/
.ui.menu {
  border: 0 !important;
  box-shadow: 0px 0px 0px 0 rgba(34, 36, 38, 0.15) !important;
}

.top-menu-label {
  font-size: 1.2em;
  font-weight: bold !important;
  margin: auto;
}
/*------------------------------------------*/

/*icons*/
#logo_icon {
  //line-height: 2em !important;
  font-size: 38px !important;
}
/*------------------------------------------*/

/*Mobile*/
html.ios {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
html.ios,
html.ios body {
  height: initial !important;
}
/*------------------------------------------*/
