table {
    border-collapse: collapse !important;
}

table, th, td {
    border: 1px solid black !important;
}

table {
    font-family: verdana,arial,sans-serif;
    font-size: 11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
}
table th {
    border-width: 1px;
    // padding: 4px;
    border-style: solid;
    border-color: #666666;
    font-weight:bold;

}
table td {
    border-width: 1px;
    padding: 3px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}

table {
    width: 100%;
}

th {
    height: 25px;
}

// @import "semantic-ui";
$font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif !default;
@import "semantic-ui/collections/grid";
@import "semantic-ui/collections/form";


// // tr {
// //     border-width: 3px;
// //     border-bottom: solid;
// //     border-color: black;
// // }
td, th {
    text-align: center;
}
th {
    color: white;
    background-color: #2980b9;
}

// table, tr, td, th ,tbody, thead, tfoot {
//     page-break-inside: avoid !important;
// }