// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// Logo
.logo_welcome {
  margin: 0 auto;
  display: flex;
  max-width: 100%;
  margin-top: 15%;
}
