.smaller_f_speciality {
    font-size: 10px !important;
}

.smaller_f {
    font-size: 12px !important;
}

.bigger_f {
    font-size: 18px !important;
}

.epic_f {
    font-size: 24px !important;
}
